:root{
    --colorone: #4A403A;
    --colortwo: #A45D5D;
    --colorthree: #FFC069;
    --colorfour: #EFEFEF;
}

body{
    background: var(--colorfour);
    margin: 0;
    font-family: 'Yaldevi';
}

.navbar{
    background: var(--colorthree);
    padding: 1em;
    .logo{
        text-decoration: none;
        font-weight: bold;
        color: var(--colorone);
        font-size: 2em;
        
        span{
            color: var(--colortwo);
        }
    }

    nav{
        display: none;
    }
    
    .container{
        display: flex;
        place-content: space-between;
    }

    .mobile-menu{
        cursor: pointer;
    }
}

section{
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.primary-screen{
    text-align: center;
}

.top-col{
    
    h1{
        font-size: 4em;
        color: var(--colorone);
    }
}

.bio{
    background: var(--colorthree);
    color: var(--colorone);
    font-weight: bolder;
    
    h2{
        font-size: 2em;
        text-align: center;
    }
}

.mybio{
    margin: 0;

    li{
        padding-bottom: 1.5em;
        margin-left: 2em;
        position: relative;

        span{
            color: var(--colortwo);
        }

        &:before{
            content: '';
            position: absolute;
            left: -2em;
            background-image: url(/portofolio/img/caret-right-fill.svg);
            background-size: contain;
            width: 1em;
            height: 1em;
            margin-right: .5em;
        }
    }
}

nav.menu-btn{
    display: block;
}

nav{
    position: fixed;
    z-index: 99;
    width: 60%;
    right: 0;
    top: 0;
    background: var(--colorfour);
    height: 100vh;
    padding: 1em;

    ul.primary-nav {
        margin-top: 5em;
    }
    li{
        a{
            color: var(--colorone);
            text-decoration: none;
            display: block;
            padding: 2em;
            font-size: 1.5em;
            text-align: right;
        }

        &:hover{
            font-weight: bold;
        }
    }
}

.mobile-menuexit{
    float: right;
    margin: .5em;
    cursor: pointer;
}

@media only screen and (min-width: 768px){
    .mobile-menu, .mobile-menuexit{
        display: none;
    }

    .navbar .container{
        display: grid;
        grid-template-columns: 212px auto;
        place-content: unset;
        align-items: center;
    }

    .navbar nav{
        display: flex;
        justify-content: space-between;
        background: none;
        position: unset;
        height: auto;
        width: 100%;
        padding: 0;

        ul{
            display: flex;
        }

        a{
            font-size: 1em;
            padding: 1em;
        }

        ul.primary-nav{
            margin: 0;
        }
    }
}