:root{
    --colorone: #293B5F;
    --colortwo: #47597E;
    --colorthree: #DBE6FD;
    --colorfour: #EFEFEF;
}

body{
    background: var(--colorfour);
    margin: 0;
    font-family: 'Yaldevi';
    overflow: hidden;
    height: 100vh;
}

.fullbody{
    width: 100%;
    height: 100%;
    overflow-y: scroll;
    scroll-behavior: smooth;
}

/*nav part 1*/

.navbar{
    background: var(--colorthree);
    padding: .5em;
    position: fixed;
    width: 100%;
    .logo{
        text-decoration: none;
        font-weight: bold;
        color: var(--colorone);
        font-size: 2.5em;
        
        span{
            color: var(--colortwo);
        }
    }

    nav{
        display: none;
        place-content: flex-end;
    }
    
    .container{
        display: flex;
        place-content: space-between;
    }

    .mobile-menu{
        cursor: pointer;
        padding-right: 2em;
    }
}

section{
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
}

/*main screen*/

.primary-screen{
    text-align: center;
}

.top-col{
    
    h1{
        font-size: 4em;
        color: var(--colorone);
    }
}

/*about*/

.bio{
    background: var(--colorthree);
    color: var(--colorone);
    font-weight: bolder;
    display: block;
    padding-top: 3em;
    
    h2{
        font-size: 3em;
        text-align: center;
    }

    img{
        height: 150px;
        width: 150px;
        object-fit: cover;
    }
}

.bio-content{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: column;
}

.bio-left{
    width: 40%;
    text-align: center;
}

.bio-right{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    p{
        margin: 1em;
        font-size: 1.1em;
        font-weight: 300;
        text-align: justify;
    }
    a{
        background-color: var(--colorone);
        text-decoration: none;
        color: var(--colorthree);
        padding: 1em;
        border-radius: 2em;
        box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;

        &:hover{
            background-color: var(--colortwo);
            transition: 0.3s ease;
        }
    }
}

/*nav mobile*/

nav.menu-btn{
    display: block;
}

nav{
    position: fixed;
    z-index: 9999;
    width: 60%;
    right: 0;
    top: 0;
    background: var(--colorfour);
    height: 100vh;
    padding: 1em;
    transition: 0.3s;
    ul.primary-nav {
        margin-top: 3.5em;
    }
    li{
        a{
            color: var(--colorone);
            text-decoration: none;
            display: block;
            padding: 2em;
            font-size: 1.5em;
            text-align: center;
        }

        &:hover{
            font-weight: bold;
            transition: 0.3s ease;
        }
    }
}

.mobile-menuexit{
    float: right;
    margin: .5em;
    cursor: pointer;
}

/*skill*/
.skill{
    padding: 1em;
    h2{
        font-size: 3em;
        color: var(--colorone);
    }

    .split{
        display: flex;
        flex-direction: row;

        li{
            font-weight: 400;
            color: var(--colorone);
            font-size: 1.2em;
            padding-top: 1em;
            padding-bottom: 1em;
            margin-left: 2em;
        }
        
        .left{
            padding-left: 2em;
            width: 30%;
        }
        .right{
            padding-left: 2em;
            width: 40%;
        }
    }

}


/*contact*/
.contact{
    background-color: var(--colorthree);
    
    h2{
        text-align: center;
        font-size: 3em;
        color: var(--colorone);
    }

    .paper{
        background-color: var(--colorfour);
        padding: 1em;
        box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    }

    a{
        text-decoration: none;
        color: var(--colorone);
    }

    li{
        list-style: none;
        padding: 2em;
        font-weight: 400;
        &:before{
            content: '';
            width: 1.2em;
            height: 1.2em;
            display: inline-block;
            background-size: contain;
            margin-right: .5em;
        }
    }

    .wa{
        &:before{
            background-image: url('../img/whatsapp.svg');
        }
    }

    .em{
        &:before{
            background-image: url('../img/envelope.svg');
        }
    }

    .lin{
        &:before{
            background-image: url('../img/linkedin.svg');
        }
    }

    .git{
        &:before{
            background-image: url('../img/github.svg');
        }
    }
}



/*screen splitting*/
@media only screen and (min-width: 383px){
    .bio{
        background: var(--colorthree);
        color: var(--colorone);
        font-weight: bolder;
        display: block;
        padding-top: 3em;
        
        h2{
            font-size: 3em;
            text-align: center;
        }
    
        img{
            height: 200px;
            width: 200px;
            object-fit: cover;
        }
    }
    
    .bio-content{
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        flex-direction: column;
    }
    
    .bio-left{
        width: 40%;
        text-align: center;
    }
    
    .bio-right{
        width: 100%;
        p{
            margin: 1em;
            font-size: 1.3em;
            font-weight: 300;
            text-align: justify;
        }
    }
}
@media only screen and (min-width: 400px){
    .skill{
        padding: 1.5em;
        h2{
            font-size: 3em;
            color: var(--colorone);
        }
    
        .split{
            display: flex;
            flex-direction: row;
    
            li{
                font-weight: 400;
                color: var(--colorone);
                font-size: 1.5em;
                padding: 1em;
                margin-left: 3em;
            }
            
            .left{
                width: 30%;
            }
            .right{
                width: 40%;
            }
        }
    
    }
}

@media only screen and (min-width: 500px){
    .skill{
        .split{
            li{
              font-size: 1.1em;
              padding-left: 1em;  
            }
            .left{
                width: 40%;
            }
            .right{
                width: 50%;
            }
        }
    }
}

@media only screen and (min-width: 768px){
    .mobile-menu, .mobile-menuexit{
        display: none;
    }

    .navbar .container{
        display: grid;
        grid-template-columns: 212px auto;
        align-items: center;
    }

    .navbar nav{
        display: flex;
        justify-content: space-between;
        background: none;
        position: unset;
        height: auto;
        width: 100%;
        padding: 0;

        ul{
            display: flex;
            font-size: 1.5em;
        }

        a{
            font-size: 1em;
            padding: 1em;
        }

        ul.primary-nav{
            margin: 0;
        }
    }

    .skill{
        padding: 1.5em;
        h2{
            font-size: 3em;
            color: var(--colorone);
        }
    
        .split{
            display: flex;
            flex-direction: row;
    
            li{
                font-weight: 400;
                color: var(--colorone);
                font-size: 1.5em;
                padding: 1em;
                margin-left: 3em;
            }
            
            .left{
                width: 40%;
            }
            .right{
                width: 50%;
            }
        }
    
    }
}

@media only screen and (min-width: 1200px){
    .bio{
        background: var(--colorthree);
        color: var(--colorone);
        font-weight: bolder;
        display: block;
        padding-top: 3em;
        
        h2{
            font-size: 3em;
            text-align: center;
        }
    
        img{
            height: 400px;
            width: 400px;
            object-fit: cover;
            padding: 2em;
            padding-left: 4em;
        }
    }
    
    .bio-content{
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        flex-direction: row;
    }
    
    .bio-left{
        width: 40%;
    }
    
    .bio-right{
        width: 50%;
        .text1{
            font-size: 2em;
            font-weight: 500;
        }
        p{
            font-size: 1.5em;
            font-weight: 300;
            text-align: justify;
        }
    }
}